.main-header {
  font-family: 'Open sans', sans-serif;
  color:#505353;
  background-color: #FFFFFF;
  display: block;

  .navbar {
    padding: 1.5rem 2rem;
    display: flex;

    .navbar-brand {
      display: block;
    }

    .navbar-nav {
      display: flex;
      justify-content: flex-end;
    }
  }

  .nav-item {
    padding: 0px 16px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background-color: #B2D235;
      border-radius: 20px;
      
    }
  }
}



@media (max-width: 992px) {
	// TODO
}
