.reset-password-container {
  padding-top: 150px;
  background-color: #F2F2F2;
  font-family: 'UTM BryantLG';
  min-height: 70vh;
  padding-bottom: 40px;

  .reset-header {
    background-color: white;
    border: 0;
    text-align: center;
    font-size: 30px;
    color: #B2D235;
    font-weight: 900;
    padding-top: 40px;

    span {
      font-size: 20px;
      color: #505353;
      display: block;
    }
  }

  .reset-body {

    .reset-items {
      flex-direction: column;
    }

    .reset-btn {
      border: 0;
      background-color: #B2D235;
      font-size: 18px;
      color: white;
      box-shadow: inset 0px 1.5px 2px #6F8710;
      border-radius: 22px;
      margin-top: 20px;
      padding: 4px 20px;
    }
  }
}
