// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Roboto:wght@300;500&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Slick
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

//Select2
@import "~select2/dist/css/select2.css";

//RateYo
@import "courses/rateYo";

// Variables
@import 'variables';

// Variables
@import 'homepage/header';
@import 'homepage/home';
@import 'homepage/footer';
@import 'homepage/login';
@import 'homepage/register';
@import 'courses/course';
@import 'homepage/pagination';
@import 'courses/show';
@import 'profiles/profile';
@import 'lessons/lesson';
