.end-course-btn {
    border: 0;
    font-size: 18px;
    color: white;
    font-weight: 700;
    background-color: red;
    box-shadow: inset 0px 1.5px 2px #6F8710;
    border-radius: 22px;
    padding: 6px 26px;
}

.lessons-tag {
    span {
        color: #505353;
        font-size: 20px;
    }

    a {
        display: inline-block;
        width: 65px;
        height: 30px;
        border: 1px solid #E4E4E4;
        border-radius: 3px;
        background-color: #F2F2F2;
        color: #949292;
        text-align: center;
        margin-left: 4px;
    }
}

.lesson-file-type {
    i {
        color: #B2D235;
        font-size: 18px;
    }

    span {
        display: inline-block;
        min-width: 90px;
        color: #BDB9B9 !important;
    }

    .btn-not-submit {
        margin: 0;
        display: inline-block;
        background-color: #B2D235;
        width: 80px;
        height: 30px;
        font-size: 15px;
        font-weight: 700;
        color: white;
        box-shadow: inset 0px 1.5px 2px #6f8710;
        border-radius: 22px;
        text-align: center;
        line-height: 30px;
        cursor: not-allowed;
        opacity: 0.5;
    }

    & > div {
        position: relative;
    }
}

.other-courses {
    .other-course-content {
        a {
            padding: 18px 0 !important;
        }
    }
}

.lesson-progress {
    width: 100%;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 4px;

    .user-progress {
        height: 100%;
        width: 0;
        border-radius: 4px;
        background-color: #B2D235;
    }
}

.program-status {
    display: inline-block;
    background-color: #B2D235;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 60px;
    text-align: center;
    position: absolute;
    margin-left: 10px;
}

.program-status-not-join {
    background-color: red;
}
